.budget__title {
  font-family: $font-semibold;
  font-size: 28px;
  line-height: 72px;
  color: $font-color-heading;
  text-transform: uppercase;
}

table {
  font-family: $font-normal;
  font-size: 18px;
  line-height: 22px;
  color: $font-color-heading;
}

.table__value {
  font-size: 20px;
}

.budget__img-amount {
  font-family: $font-normal;
  font-weight: bold;
  font-size: 51px;
  color: #f54a42;
}

.budget__img-subtitle {
  font-family: $font-normal;
  font-style: italic;
  line-height: 46px;
  font-size: 14px;
  opacity: 0.5;
  color: #e8715c;
}
