.comment {
  background-image: url(../img/portfolio-review/comment-bg.jpg);
  background-color: #FAD4D1;
}

.comment__title {
  font-family: $font-semibold;
  font-size: 28px;
  line-height: 72px;
  color: $font-color-heading;
  text-transform: uppercase;
}

.comment__text {
  font-family: $font-normal;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  color: #646464;
}

.comment__button {
  border-radius: 5px;
  text-shadow: 1px 1px 2px #c25b4c;
  background-image: linear-gradient(to bottom, #e3715d, #eb6455);
  padding: 16px 13px;
  border: none;
}

.comment__button-text {
  font-family: $font-light;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
