.features__title {
  font-family: $font-normal;
  font-size: 22px;
  line-height: 46px;
  color: $font-color-heading;
}

.features__text {
    font-family: $font-normal;
  font-size: 16px;
  line-height: 22px;
  color: #646464;
}
