.feedback-portfolio {
  background-image: url(../img/index/feedback-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #967193;
  min-height: 441px;
}

.feedback-portfolio__title {
  font-family: $font-semibold;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.feedback-portfolio__subtitle {
  font-family: $font-normal;
  font-size: 16px;
  color: #ffffff;
}

.feedback-portfolio__input {
  font-family: $font-light;
  font-size: 14px;
  border-radius: 5px;
  padding: 15px 0 15px 15px;
  width: 300px;
}

.feedback-portfolio__submit {
  font-family: $font-normal;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #e3715d, #eb6455);
  text-shadow: 1px 1px 2px #c25b4c;
  width: 320px;
  height: 40px;
}

.feedback-portfolio__link {
  font-family: $font-normal;
  font-size: 16px;
  text-decoration: underline;
  color: #fdd8d5;
}
