.task__heading {
  font-family: $font-semibold;
  font-size: 28px;
  line-height: 72px;
  color: $font-color-heading;
  text-transform: uppercase;
}

.task__title {
  font-family: $font-normal;
  font-size: 22px;
  line-height: 46px;
  color: $font-color-heading;
}

.task__text {
  font-family: $font-normal;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  color: #646464;
}
