@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('../fonts/PT-Sans.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  font-display: block;
  src: url('../fonts/PT-Sans-Bold.woff2') format('woff2');
}
