// fonts
$font-PT-Sans: 'PT Sans','Arial',sans-serif;
$font-CourierNew:  'Courier New', 'Arial', sans-serif;

// colors
$color-font: #2F1B15;
$color-font-secondary: #3D3D3D;
$color-font-input: #231F20;
$color-link: #1F5F97;

$color-underline: #40251E;

$color-document-background: #797979;
$color-page-background: #E2C293;

@mixin focus-outline() {
  outline: 2px dashed $color-underline;
}

@mixin active-outline {
  outline: 3px solid $color-underline;
}
