.wedding-features__title {
  font-family: $font-semibold;
  font-size: 22px;
  line-height: 46px;
  color: $font-color-heading;
}

.wedding-features__subtitle {
  font-family: $font-normal;
  font-size: 22px;
  line-height: 46px;
  color: $font-color-heading;
}

.wedding-features__text {
  font-family: $font-normal;
  font-size: 16px;
  line-height: 22px;
  color: $font-color-heading;
}

.wedding-features__item-list-title {
  font-family: $font-normal;
  font-size: 14px;
  line-height: 22px;
  color: $font-color-heading;
}

.wedding-features__item-list-text {
  font-family: $font-normal;
  font-size: 14px;
  line-height: 22px;
  color: $font-color-heading;
}
