.wedding-headline__link {
  font-family: $font-normal;
  font-size: 18px;
  line-height: 46px;
  color: #e8715c;
  opacity: 0.5;
}

.wedding-headline__title {
  font-family: $font-semibold;
  font-size: 28px;
  line-height: 72px;
  color: $font-color-heading;
  text-transform: uppercase;
}
