html {
  background-image: url("img/circles-light.png");
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

li {
  margin: 10px 0;
}

h1 {
  font: italic small-caps 100 25px/30px sans-serif;
  transition: .1s linear;
  transform: skewY(5deg);
  text-align: center;
}

h1:hover {
  transition: .15s linear;
  transform: skewY(0deg);
}

a {
  display: block;
  margin: 10px auto;
  padding: 30px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.days {
  padding: 0;
  opacity: 0;
  background-image: url("8days/img/svg/logo.svg");

  filter: saturate(0);
}

.foo {
  background-image: url("fooseshoes/img/svg/logo.svg");
}

.mishka {
  background-image: url("mishka/img/logo-mobile.svg");
}

.sedona {
  background-image: url("img/sedona-logo.svg");
}

.kekstagram {
  background-image: url("kekstagram/img/avatar-1.svg");
}

.ya {
  background-image: url("img/ya-logo-letter.svg")
}

.ya-home {
  background-image: url("img/ya-logo.svg")
}