.arrivals {
  background-color: $catalog-bg-color;
}

.arrivals__list {
  @include clear-li;
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  background-color: inherit;
  flex-wrap: wrap;
}
