.bsellers {
  background-color: $catalog-bg-color;
}

.bsellers__header-title {
  font-family: $font-light;
  font-size: 25px;
  line-height: 60px;
  color: $font-dark-color;
}

.bsellers__list {
  @include clear-li;
}

.bsellers__list-item {
    background-color: $bg-white-color;
}

.bsellers__list-item-title {
  font-family: $font-normal;
  font-size: 18px;
  line-height: 25px;
  background-color: $bg-white-color;
}