.bsellers {
  background-color: $catalog-bg-color;
  margin-top: -34px;
}

.bsellers__list {
  @include clear-li;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 24px;
  background-color: inherit;
  flex-wrap: wrap;
}
