.categories {
  background-color: $body-bg-color;
}

.categories__list {
  @include clear-li;
  text-transform: uppercase;
  line-height: 60px;
  color: $font-light-color;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 26px 0;
}

.categories__list-item {
  min-height: 180px;
  width: 300px;
  display: flex;
}

.categories__list-item-title {
  background-color: rgba($body-bg-color, 0.8);
  font-family: $font-light;
  font-weight: normal;
  font-size: 25px;
  align-self: center;
  text-align: center;
  min-width: 180px;
  margin: 0 auto;
}

.categories__list-item:nth-of-type(2) .categories__list-item-title {
  padding: 0 23px;
}

.categories__list-item--sale {
  background-image: url('../img/on-sale.jpg');
}

.categories__list-item--offers {
  background-image: url('../img/special-offer.jpg');
}

.categories__list-item--must-have {
  background-image: url('../img/must-have.jpg');
}
