.footer {
  background-color: $slider-bg-color;
}


.footer__copyright {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $copyright-text-color;
}

.footer__links-list {
  @include clear-li;

  display: flex;
  flex-wrap: wrap;
  padding: 0 1.4%;
  margin-top: 7px;
  justify-content: center;
}

.footer__links-item {
  color: $copyright-text-color;
  cursor: default;
}

.footer__links-a {
  padding: 7px 0px 7px 6px;
  font-size: 15px;
  line-height: 25px;
  color: $copyright-text-color;

  @include text-event-regular();
}

@media ($tablet-width) {
.footer__links-list {
  min-width: 400px;
  flex-wrap: nowrap;
}

  .footer__links {
    margin: 0 30px 0 0;
  }

  .footer__links-a {
    padding: 7px 0px 7px 6px;
    font-size: 14px;
  }

  .footer__copyright {
    text-align: left;
    font-size: 14px;
    margin: 0 auto 0 40px;
  }
}
