.footer {
  background-color: $slider-bg-color;
}

.footer__copyright {
  font-size: 12px;
  line-height: 18px;
  margin-right: auto;
  color: $copyright-text-color;
}

.footer__links-list {
  @include clear-li;

  display: flex;
  margin-top: 7px;
  justify-content: space-between;
}

.footer__links-item {
  color: $copyright-text-color;
  cursor: default;
}

.footer__links-a {
  padding: 7px 0px 7px 6px;
  font-size: 12px;
  line-height: 25px;
  color: $copyright-text-color;

  @include text-event-regular();
}
