.item-card {
  background-color: $bg-white-color;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  transition: 0.1s linear;
  width: 300px;
  align-self: center;

  &:hover {
    @include hover-shadow();
  }

  // &:hover .product-panel--item {
  //   display: flex;
  // }

  &:active {
    @include active-shadow();
    transition: 0.1 linear;
  }
}

.item-card a {
  color: #242424;
  outline: none;

  &:focus {
    @include hover-shadow();
    transition: 0.2s linear;
  }
}

.item-card__info {
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: middle;
  border-top: 1px solid #cccccc;
}

.item-card__title {
  padding: 9px 12px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
