.item-group-header {
  display: flex;
  align-self: center;
}

.item-group-header__title {
  font-weight: normal;
  font-size: 25px;
  line-height: 60px;
  color: $font-dark-color;
  margin: 14px auto 0 -3px;
}
