.nav__list {
  font-family: $font-normal;
  font-size: 16px;
  line-height: 25px;
  @include clear-li;
  display: flex;
  margin: 0;
  z-index: 1;
  margin-right: auto;
  min-height: 60px;
}

.nav__list:last-of-type {
  border-right: 1px solid #eeeeee;
}

.nav__item {
  align-self: center;
}

.nav__item-link {
  padding: 21px 24px 20px 21px;
  border-left: 1px solid #eeeeee;
  color: $font-dark-color;
}
