.product-panel {
  display: flex;
  @include clear-li();
  margin: 15px 0 0 0;
}

.product-panel-btn {
  display: block;
  background-color: $bg-white-color;
  width: 38px;
  height: 38px;
  margin: 0 5px 0 0;
  border: none;
  cursor: pointer;

  &:hover svg {
    @include svg-hover-regular;
  }

  &:active svg {
    @include svg-active-regular;
  }
}
