.slider-panel {
  @include clear-li;
  display: flex;
  background-color: #000000;
  margin-top: 6px;
  margin-bottom: -5px;
  padding: 0 9px;
  height: 10px;
}

.slider-panel__section {
  align-self: center;
  width: 180px;
  height: 6px;
  padding-right: 3px;
  padding-left: 3px;
  border-right: 2px solid $slider-bg-color;
}

.slider-panel__section:last-of-type {
  border-right: none;
}
