.social {
  min-width: 213px;
  margin-left: auto;
}

.social__list {
  display: flex;
  justify-content: space-between;

  @include clear-li;
}

.social__list-item {
  background-color: $slider-bg-color;
  display: flex;
}

.social__link {
  text-align: center;
  height: 35px;
  width: 35px;
}

.social__link svg {
  padding-top: 10px;
}

.social__link--fb {
  &:hover {
    background-color: #3B5998;
  }
  & svg {
    padding-top: 8px;
    padding-left: 3px;
  }

  &:hover svg {
    fill: white;
  }
  transition: 0.3s linear;
}

.social__link--tw {
  &:hover {
    background-color: #55ACEE;
  }

  & svg {
    padding-top: 9px;
    padding-left: 4px;
  }

  &:hover svg {
    fill: white;
  }
  transition: 0.3s linear;
}

.social__link--gp {
  &:hover {
    background-color: #D93E2D;
  }

  & svg {
    padding-left: 4px;
  }

  &:hover svg {
    fill: white;
  }
  transition: 0.3s linear;
}

.social__link--in {
  &:hover {
    background-color: #005397;
  }

  & svg {
    padding-top: 8px;
  }

  &:hover svg {
    fill: white;
  }
  transition: 0.3s linear;
}

.social__link--flickr {
  &:hover {
    background-color: #FF0084;
  }

  & svg {
    padding-top: 13px;
  }

  &:hover svg {
    fill: white;
  }
  transition: 0.3s linear;
}
