.tag-stock {
  font-family: $font-bold;
  font-size: 13px;
  line-height: 15px;
  background-color: $out-of-stock-color;
  color: $font-light-color;
  position: absolute;
  text-align: center;
  right: 11px;
  padding: 18px 12px;
}
