.tag-sale {
  font-family: $font-bold;
  font-size: 13px;line-height: 25px;
  background-color: $body-bg-color;
  color: $font-light-color;
  position: absolute;
  right: 11px;
  padding: 21px 7px;
}
