.tag-price {
  display: block;
  text-align: center;
  font-family: $font-bold;
  font-size: 13px;
  padding: 21px 0;
  line-height: 25px;
  width: 68px;
  color: $font-light-color;
  background-color: $accent-color;
  margin-top: -17px;
  margin-left: 13px;
}

.tag-price--promo {
  margin-top: 70px;
  margin-left: 2px;
}
