.tag-sale {
  font-weight: 800;
  font-size: 13px;
  line-height: 25px;
  background-color: $body-bg-color;
  color: $font-light-color;
  position: absolute;
  right: 11px;
  top: 0;
  padding: 21px 7px;
}
