.widgets {
  background-color: $body-bg-color;
  box-sizing: border-box;
  padding: 30px 0 31px 0;
}

.widgets section {
  width: 260px;
}

.widgets__title {
  font-family: $font-normal;
  font-size: 14px;
  line-height: 16px;
  color: $widget-title-color;
}

.widgets__text {
  font-family: $font-italic;
  font-size: 12px;
  line-height: 18px;
  padding-right: 6px;
  margin-bottom: 5px;
  text-align: justify;
  color: $widget-text-color;
}

.widgets__twitter {
  padding-left: 10px;
}

.widgets__twitter-date {
  font-family: $font-italic;
  font-size: 12px;
  line-height: 18px;
  color: $date-font-color;
  font-weight: bold;
}

.widgets__twitter-id {
  color: $accent-color;
}

.widgets__flickr-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 18px;
  justify-content: space-between;
}

.widgets__flickr-link {
  margin-bottom: 6px;
}

.widgets__title--flickr {
  padding-left: 15px;
}
