include global/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="theme-color" content="#764E92")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 8DAYS
    link(rel="stylesheet" href="css/style.css")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    header.header
      nav.nav
        ul.nav__list
         li.nav__list-item
          a.nav__link(href="services.html") Услуги
         li.nav__list-item
          a.nav__link(href="portfolio.html") Портфолио
         li.nav__list-item
          a.nav__link(href="#") Отзывы
         li.nav__list-item
          a.nav__link(href="#") О Нас
      a.nav__logo.current-page(href="index.html" title="На главную" tabindex="-1")
        img(width="132" height="33" src="img/svg/logo.svg" alt="8DAYS")
      .nav__contacts
        a.nav__link(href="#") Контакты
        .nav__contacts-phone
          a.nav__phonenumer(href="tel:88122162432") 8 (812)
            span.nav__phonenumber.nav__phonenumber--uppercase  216 24 32
    section.index-headline
      h1.visually-hidden Свадебное агенство 8DAYS
      img.index-headline__logo(width="237" height="90" src="img/svg/logo-headline.svg" alt="8Days")
      p.index-headline__text Организация свадеб<br>с уникальным сценарием.<br>Дарим бесконечное счастье!
      a.index-headline__link(href="#") Услуги
    section.couples
      h2.couples__title Счастливые пары
      ul
        +couples-card('Дима и Настя', '«Следуй за белым кроликом»', 'Большой стол, яркие краски, Чеширский кот среди гостей', '1')
        +couples-card('Дима и Настя', '«Следуй за белым кроликом»', 'Большой стол, яркие краски, Чеширский кот среди гостей', '2')
        +couples-card('Дима и Настя', '«Следуй за белым кроликом»', 'Большой стол, яркие краски, Чеширский кот среди гостей', '3')
      a.couples__link(href="#") Портфолио
    section.workflow
      h2.workflow__title Как мы работаем
      ul.workflow__list
        +workflow__item('cup.svg', 'Планируем Вашу свадьбу', 'Ваша заявка и встреча за чашечкой кофе')
        +workflow__item('contract.svg', 'Приходим к соглашению', 'Подписание договора')
        +workflow__item('calendar.svg', 'Планируем Ваш праздник', 'Подготовка к свадьбе')
        +workflow__item('rings.svg', 'Реализуем Ваш праздник', 'Лучшая свадьба для Вас и Ваших гостей')
    section.workers
      h2.workers__title На свадьбах для вас работают
      .workers__slider
        button.workers__button.workers__button--left(title="Предыдущий")
          svg(width="26" height="25")
            use(xlink:href="#icon-arrow-tip")
        ul.workers__list
          +workers__item('urgant.png','urgant.webp','150', '155', 'Ургант', 'Иван Ургант', 'ведущий')
          +workers__item('lazarev.png','lazarev.webp','150', '155', 'Лазарев', 'Сергей Лазарев', 'певец')
          +workers__item('rogov.png','rogov.webp','150', '165', 'Рогов', 'Александр Рогов', 'стилист')
          +workers__item('druzhinin.png','druzhinin.webp','150', '160', 'Дружинин', 'Егор Дружинин', 'хореограф')
          +workers__item('richardson.png','richardson.webp','150', '160', 'Ричардсон', 'Терри Ричардсон', 'фотограф')
        button.workers__button.workers__button--right(title="Следующий")
          svg(width="26" height="25")
            use(xlink:href="#icon-arrow-tip")
    include blocks/feedback.pug
    include blocks/footer.pug
    .display-none
      include ../img/svg/sprite.svg
