include global/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Настя и Дима - 8DAYS
    link(rel="stylesheet" href="css/style.css")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    include blocks/header.pug
    section.review-headline
      .review-headline__info
        h1.review-headline__title Настя и Дима
        h3.review-headline__subtitle «Следуй за белым кроликом»
        p.review-headline__text Как бы выглядела свадьба Алисы из Страны чудес? Большой стол, яркие краски, Чеширский кот среди гостей, маленькие бутылочки и сладости с надписями «выпей меня» и «съешь меня».
        div.review-headline__palette
          ul
            li.review-headline__palette-color-1
            li.review-headline__palette-color-2
            li.review-headline__palette-color-3
            li.review-headline__palette-color-4
          span.review-headline__palette-text цветовое решение свадьбы
    section.features
      h2.features__title Стилистика свадьбы
      .features-wrapper
        article.features__task
          picture
            source(type="image/webp" srcset="img/webp/portfolio-review/review-features-1.webp")
            img(class="features__task-img", width="232", height="237" src="img/portfolio-review/review-features-1.png" alt="Пожелания")
          .features__task-info
            h3.features__task-info-title Пожелания Насти и Димы
            p.features__task-info-text
             span.grand-quotation &#8221;
             |Хотелось чего-то яркого, сказочного, веселого, немного богемного — идеи, которая помогла бы объединить в себя все детали: от дизайна приглашений до бонбоньерок. «Алиса в стране Чудес» оказалась идеальной по стилю и настроению.
             span.grand-quotation &#8221;
    include blocks/footer.pug
    .display-none
      include ../img/svg/sprite.svg
