include global/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Портфолио - 8DAYS
    link(rel="stylesheet" href="css/style.css")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    include blocks/header.pug
    section.portfolio-headline
      .portfolio-headline__info
        h3.portfolio-headline__info-title Наташа и Антон
        h4.portfolio-headline__info-subtitle «Летнее очарование»
        p.portfolio-headline__info-text Лето, солнце, лесная свежесть, двое влюблённых, которые решили провести весте всю жизнь.
        a.portfolio-headline__info-link(href="portfolio-review.html") Подробнее
        ul.portfolio-headline__info-colors
          li.portfolio-headline__info-color-1
          li.portfolio-headline__info-color-2
          li.portfolio-headline__info-color-3
          li.portfolio-headline__info-color-4
    section.portfolio-couples
      ul.portfolio-couples__list
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
        +couples-card('Таня и Саша','«Лето. Счастье. Любовь»','Яркая, весенняя, заводная! Летний взрыв положительных эмоций')
    include blocks/footer.pug
    .display-none
      include ../img/svg/sprite.svg
