include global/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta("theme-color" content="#764E92")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Настя и Дима | 8DAYS
    link(rel="stylesheet" href="css/style.css")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    include blocks/header.pug
    section.review-headline
      .review-headline__info
        h2.review-headline__title Настя и Дима
        h3.review-headline__subtitle «Следуй за белым кроликом»
        p.review-headline__text Как бы выглядела свадьба Алисы из Страны чудес? Большой стол, яркие краски, Чеширский кот среди гостей, маленькие бутылочки и сладости с надписями «выпей меня» и «съешь меня».
        div.review-headline__palette
          ul
            li.review-headline__palette-color.review-headline__palette-color--1
            li.review-headline__palette-color.review-headline__palette-color--2
            li.review-headline__palette-color.review-headline__palette-color--3
            li.review-headline__palette-color.review-headline__palette-color--4
          span.review-headline__palette-text цветовое решение свадьбы
    section.task
      h1.task__heading Стилистика свадьбы
      div
        picture
          source(type="image/webp" srcset="img/webp/portfolio-review/review-features-1.webp")
          img(class="task__img", width="232", height="237" src="img/portfolio-review/review-features-1.png" alt="Пожелания")
        .task__info
          h3.task__title Пожелания Насти и Димы
          p.task__text
            span.grand-quotation &#8221;
            |Хотелось чего-то яркого, сказочного, веселого, немного богемного — идеи, которая помогла бы объединить в себя все детали: от дизайна приглашений до бонбоньерок. «Алиса в стране Чудес» оказалась идеальной по стилю и настроению.
            span.grand-quotation &#8221;
    section.features
      h2.visually-hidden Атрибуты этой свадьбы
      article.features__colors
        .features__colors-info
          h3.features__title Цветовая палитра и декор
          p.features__text Цветовая палитра всего праздника была в ярких насыщенных тонах: приглашения — в желто-оранжевом цвете, декор и флористическое наполнение — в бирюзово-фиолетовых оттенках. В качестве декора на лужайке перед рестораном были выставлены на мольбертах в большом формате фотографии love-story, которую мы сделали заранее.
        .features__img.features__img--colors
      article.features__location
        .features__img.features__img--location
        .features__location-info
          h3.features__title Место проведения
          p.features__text Первое, с чем мы определились, был ресторан — его мы выбрали с первой попытки, приехали и сразу влюбились в это тихое и очень живописное место.
      article.features__fun
        .features__fun-info
          h3.features__title Развлечения
          p.features__text Гости собирали гигантскую Дженгу, фотографировались в специальной зоне на винтажном диване в компании Чеширского кота, с гигантскими карманными часами кролика и бутылочкой «Выпей меня». Помимо этого, в Welcome-зоне гостей ждали бутылочки, баночки и капкейки с различными цитатами из сказки.
        .features__img.features__img--fun
    .slider
      button(title="Предыдущее фото").slider__btn.slider__btn--left
        svg(width="26" height="25")
          use(xlink:href="#icon-arrow-tip")
      .slider__items
        div.slider__slide.slider__slide--1
        div.slider__slide.slider__slide--2
        div.slider__slide.slider__slide--3
      button(title="Следующее фото").slider__btn.slider__btn--right
        svg(width="26" height="25")
          use(xlink:href="#icon-arrow-tip")
    section.budget
      h2.budget__title Бюджет
      .budget__info
        table.table
          tr
            th.table__mark Свадебные наряды и аксессуары
            th.table__value 100 000
          tr
            th.table__mark Банкет
            th.table__value 140 000
          tr
            th.table__mark Автомобиль
            th.table__value 50 000
          tr
            th.table__mark Алкоголь
            th.table__value 60 000
          tr
            th.table__mark Музыка
            th.table__value 35 000
          tr
            th.table__mark Ведущий
            th.table__value 30 000
          tr
            th.table__mark Цветы, декор
            th.table__value 40 000
          tr
            th.table__mark Комиссия агенства
            th.table__value 45 000
        .budget__img
          img(height="339" width="376" src="img/svg/graph.svg" alt="График расходов")
          span.budget__img-amount 20%
          span.budget__img-subtitle % от общего бюджета свадьбы
    section.comment
      picture
        source(type="image/webp" srcset="img/webp/portfolio-review/review-comment.webp")
        img(class="comment__img", width="232", height="237" src="img/portfolio-review/review-comment.png" alt="Отзыв")
      .comment__info
        h2.comment__title Отзыв
        p.comment__text
          span.grand-quotation.grand-quotation--white &#8221;
          |Выражаем вам огромную благодарность за создание нашей сказочной свадьбы! Поволноваться получилось только за два дня до праздника, так как чувствовалось приближение торжества, все остальное время наш организатор Оксана подбирала, советовала, предлагала и огранизовывала встречи, наша задача была приехать и выбрать! Лучше и не придумаешь!! Место, фотограф, ведущий, оператор все то, о чем мы мечтали!
          span.grand-quotation.grand-quotation--white &#8221;
        button.comment__button
          span.comment__button-text Смотреть видео отзыв
    section.feedback-portfolio
      h2.feedback-portfolio__title Хотите такую свадьбу? <br> С радостью обсудим детали!
      span.feedback-portfolio__subtitle Оставьте заявку, и мы Вам перезвоним.
      form.feedback-portfolio__form(action="https://echo.htmlacademy.ru" method="get")
        input.feedback-portfolio__input(type="text" name="name" placeholder="Ваше имя" required)
        input.feedback-portfolio__input(type="tel" name="telephone-number" placeholder="Ваш телефон" required)
        button.feedback-portfolio__submit(type="submit") Оставить заявку
      .feedback-portfolio__links
        a.feedback-portfolio__link(href="#") «Лето. Счастье. Любовь» <br> Свадьба Тани и Саши
        a.feedback-portfolio__link(href="#") «Летнее очарование» <br> Свадьба Наташи и Антона
    include blocks/footer.pug
    .display-none
      include ../img/svg/sprite.svg
