.couples__title {
  font-family: $font-semibold;
  font-size: 28px;
  text-transform: uppercase;
  color: $font-color-heading;
}

.couples__card-title {
  font-family: $font-semibold;
  font-size: 18px;
  color: #ffffff;
}

.couples__card-subtitle {
  font-family: $font-semibold;
  font-size: 18px;
  color: #ffffff;
}

.couples__card-text {
  font-family: $font-semibold;
  font-size: 14px;
  color: #ffffff;
}

.couples__card-link {
  font-family: $font-light;
  font-size: 14px;
  color: #ffd1d0;
}

.couples__link {
  font-family: $font-light;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
