.index-headline {
  background-image: url("../img/index/index-hero.jpg");
  min-height: 513px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D2C9C4;
}

.index-headline__text {
  font-family: $font-light;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.index-headline__link {
  font-family: $font-light;
  font-size: 14px;
  line-height: auto;
  padding: 15px 45px;
  @include button-style-main;
}
