.index-headline__text {
  font-family: $font-light;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.index-headline__link {
  font-family: $font-light;
  font-size: 14px;
  line-height: auto;
  text-transform: uppercase;
  color: #ffffff;
}
