.workflow {
  background-image: url(../img/index/index-workflow-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.workflow__title {
  font-family: $font-semibold;
  font-size: 28px;
  line-height: 72px;
  color: $font-color-heading;
  text-transform: uppercase;
}

.workflow__item-text {
    font-family: $font-normal;
  font-size: 16px;
  line-height: 20px;
  color: $font-color-heading;
}
