-
  const userDataPersonal = [
    ["Полное ФИО", "Победоносцев Никита Дмитриевич", "firstName"],
    ["Год рождения", "1993", "birthYear"],
    ["Место жительства", "Москва", "originCity"],
    ["Скайп", "nick-p66", "skypeUsername"],
    ["Почта", "npb.nikita@gmail.com", "emailAddress"]
  ];
  const userDataSkills = [
    ["БЭМ/OOCSS", "bem", true],
    ["Pug (Jade)", "pug", true],
    ["Stylus/LESS/SASS", "sass", true],
    ["Работаю с SVG", "svg", true],
    ["Верстаю семантично", "semanticHTML", true],
    ["Accessibility (A11Y)", "ally", true],
    ["ES2015/ES2016", "ecmascript", true],
    ["Gulp/GRUNT", "gulp", true],
    ["Webpack", "webpack"],
    ["Дружу с WebGL", "webGL"],
    ["jQuery", "jquery"],
    ["Знаю/изучаю Angular", "angular"],
    ["Знаю/изучаю React", "react", true],
    ["Знаю/изучаю Node.js", "nodejs", true],
    ["Использую Git", "git", true],
    ["miopia"],
    ["csssrBlog"],
    ["Я ленивый(-ая)", "lazy"],
    ["У меня хороший английский", "english", true]
  ];
  const userDataPlans = [
    ["Верстать", "htmlcss", "plans"],
    ["Прокачиваться в JS", "makeJsGreatAgain", "plans", true],
    ["Менеджерство", "manageStuff", "plans"],
    ["Другое", "otherPlans", "plans"]
  ];
  const userStory = `
  Я Никита, люблю писать код и верстать. 
  Чем доволен с этой версткой: доступ к интерактивным элементам с клавиатуры, валидная верстка, есть prod и dev сборки, линтер и минификация. Использовал БЭМ нейминг типа "Block-ElementName_modifierName_modifierValue" которого сейчас придерживаются в React части Яндекса. Использовал тег form, ибо по сути резюме == форма. Если добавить сабмит и экшн на форму, то можно будет её отправить на сервер. 
  Чем не доволен: не сделал поддержку слайдера для тач устройств и он с .Fieldset-Textarea не работают в IE.
  Кажется у вас классно и мне интересно попробовать работать на удаленке.`;