.portfolio-headline__info-title {
  font-family: $font-semibold;
  font-size: 28px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffffff;
}

.portfolio-headline__info-subtitle {
  font-family: $font-normal;
  font-size: 22px;
  line-height: 46px;
  color: #ffd1d0;
}

.portfolio-headline__info-text {
  font-family: $font-normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.portfolio-headline__info-link {
  font-family: $font-light;
  font-size: 14px;
  color: #ffffff;
}
