.portfolio-couples__card-title {
  font-family: $font-semibold;
  font-size: 18px;
  color: #ffffff;
}

.portfolio-couples__card-subtitle {
  font-family: $font-semibold;
  font-size: 18px;
  color: #ffffff;
}

.portfolio-couples__card-text {
  font-family: $font-semibold;
  font-size: 14px;
  color: #ffffff;
}

.portfolio-couples__card-link {
  font-family: $font-light;
  font-size: 14px;
  color: #ffffff;
}
