.services__item-title {
  font-family: $font-semibold;
  font-size: 28px;
  color: #ffffff;
}

.services__item-text {
  font-family: $font-semibold;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.services__item-link {
  font-family: $font-light;
  font-size: 14px;
  color: #ffffff;
}
