.Header {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 82px 0 50px 0;

  &-Logo {
    padding-right: 43px;
  }

  &::before {
    position: absolute;
    top: -10px;
    left: 7px;
  }

  &::after {
    position: absolute;
    top: -24px;
    right: -51px;
  }
}

.no-webp .Header {
  &::before {
    content: url('../img/csssr-logo.png');
  }

  &::after {
    content: url('../img/top-secret.png');
  }
}

.webp .Header {
  &::before {
    content: url('../img/webp/csssr-logo.webp');
  }

  &::after {
    content: url('../img/webp/top-secret.webp');
  }
}
