@import '../../global/variables.scss';

.Page {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  padding: 72px 105px 57px 105px;
}

.no-webp .Page {
  background: $color-page-background url(../img/page-bg.jpg) repeat;
}

.webp .Page {
  background: $color-page-background url(../img/webp/page-bg.webp) repeat;
}
