@import '../../global/variables.scss';

.ProgSkillScale {
  position: relative;
  width: 765px;
  height: 25px;
  margin: 33px auto 2px auto;
  border: 3px solid $color-underline;
  border-top: none;
  border-bottom: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: $color-underline;
  }

  &::before {
    left: 143px;
  }

  &::after {
    left: 368px;
  }

  &-Thumb {
    position: absolute;
    top: -31px;
    left: 596px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &-Input:focus+div {
    @include focus-outline;
  }
}

.no-webp {
  .ProgSkillScale {
    background: url(../img/form-underliner.png) -7px -28px no-repeat;

    &-Thumb {
      background: url(../img/slider-thumb.png) center no-repeat;
    }
  }
}

.webp {
  .ProgSkillScale {
    background: url(../img/webp/form-underliner.webp) -7px -28px no-repeat;

    &-Thumb {
      background: url(../img/webp/slider-thumb.webp) center no-repeat;
    }
  }
}
