@import '../../global/variables.scss';

.SkillsList {
  display: flex;
  flex-flow: column wrap;
  height: 250px;
  margin: 26px 0 34px 16px;

  &-Item {
    position: relative;
    max-width: 250px;
    margin: 0 48px 10px 0;
    font: bold 21px/25px $font-PT-Sans;
  }

  &-ItemLabel {
    cursor: pointer;

    &::before {
      position: relative;
      top: 3px;
      right: 9px;
    }

    &::after {
      content: '';
      top: -10px;
      left: -15px;
    }
  }

  &-ItemInput {
    position: absolute;
    opacity: 0;

    &:checked+label::after {
      position: absolute;
      top: -5px;
      left: -6px;
      transition: 0.1s linear;
    }

    &:focus+label {
      & .MiopiaSpanEye {
        animation: rainbow 2s infinite, wave-uno 2s infinite;
      }

      & .MiopiaSpanAll {
        animation: rainbow 2s infinite, wave-dos 2s infinite;
      }

      & .MiopiaSpanOk {
        animation: rainbow 2s infinite, wave-tres 2s infinite;
      }
    }

    &:focus+label::before {
      @include focus-outline;
    }

    &:active+label::before {
      @include active-outline;
    }
  }
}

.MiopiaSpan {
  &Eye {
    position: relative;
    top: 1px;
  }

  &All {
    position: relative;
    top: 2px;

  }

  &Ok {
    position: relative;
    top: 3px;
  }
}

.SkillsList-Item_Miopia:hover {
  & .MiopiaSpanEye {
    animation: rainbow 2s infinite, wave-uno 2s infinite;
  }

  & .MiopiaSpanAll {
    animation: rainbow 2s infinite, wave-dos 2s infinite;
  }

  & .MiopiaSpanOk {
    animation: rainbow 2s infinite, wave-tres 2s infinite;
  }
}

@keyframes rainbow {
  14% {
    color: red
  }

  28% {
    color: orange
  }

  42% {
    color: gold
  }

  56% {
    color: darkgreen
  }

  70% {
    color: brown
  }

  84% {
    color: darkblue
  }

  98% {
    color: purple
  }
}

@keyframes wave-uno {
  33% {
    top: -4px
  }

  66% {
    top: 4px
  }
}

@keyframes wave-dos {
  33% {
    top: -8px
  }

  66% {
    top: 8px
  }
}

@keyframes wave-tres {
  33% {
    top: -10px
  }

  66% {
    top: 10px
  }
}

.no-webp {
  .SkillsList-ItemLabel::before {
    content: url('../img/checkbox-box.png');
  }

  .SkillsList-ItemInput:checked+label::after {
    content: url('../img/checkbox-tick.png');
  }
}

.webp {
  .SkillsList-ItemLabel::before {
    content: url('../img/webp/checkbox-box.webp');
  }

  .SkillsList-ItemInput:checked+label::after {
    content: url('../img/webp/checkbox-tick.webp');
  }
}
