head
  meta(charset="utf-8")
  meta(name="robots" content="noindex")
  meta(name="theme-color" content="#e60040")
  meta(name="description" content="@nikkypizza - ivi")
  title ivi - Movies & TV
  link(rel="stylesheet" href="css/style.css")
  link(rel="icon" href="favicon.ico" type="image/x-icon")
