//major background colors
$body-bg-color: #242424;
$catalog-bg-color: #ebe7df;
$extra-article-bg-color: #dfdbd4;
$slider-bg-color: #2e2e2e;
$bg-white-color: #ffffff;

// fonts
$font-normal: "Aller", "Arial", sans-serif;
$font-light: "Aller-Light", "Arial", sans-serif;
$font-bold: "Aller-Bold", "Arial", sans-serif;
$font-italic: "Aller-Italic", "Arial", sans-serif;

//font colors
$font-light-color: #ffffff;
$font-lighter-color: #585858;
$font-dark-color: #242424;
$date-font-color: #c4c5bf;
$header-font-color: #7e7e7e;
$footer-font-color: #979797;

// square tags
$on-sale-color: #242424;
$out-of-stock-color: #f27e4b;

//social icons color
$social-icons-color: #7d7d7d;

// accent colors
$accent-color: #57c5a0;

// random blocks
$user-star-color: #ababab;
