//major background colors
$body-bg-color: #242424;
$catalog-bg-color: #ebe7df;
$extra-article-bg-color: #dfdbd4;
$slider-bg-color: #2e2e2e;
$bg-white-color: #ffffff;

// fonts
$font-Aller: "Aller", "Arial", sans-serif;

//font colors
$font-light-color: #ffffff;
$font-lighter-color: #585858;
$font-dark-color: #242424;
$date-font-color: #c4c5bf;
$header-font-color: #7e7e7e;
$footer-font-color: #979797;
$slider-title-font-color: #7b7b7b;
$slider-info-font-color: #545454;
$slider-info-font-color-active: #adadad;
$widget-title-color: #7d7d7d;
$widget-text-color: #a4a4a4;
$copyright-text-color: #acacac;

// square tags
$on-sale-color: #242424;
$out-of-stock-color: #f27e4b;

//social icons color
$social-icons-color: #7d7d7d;

// accent colors
$accent-color: #57c5a0;

// random blocks
$user-star-color: #ababab;
$show-all-btn-color: #bcb5a7;

// media
$tablet-width: 'min-width: 768px';
$desktop-width: 'min-width: 1050px';
