.wrapper {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.wrapper--slider {
  width: 960px;
  flex-direction: column;
}

.wrapper--item-group {
  flex-direction: column;
  border-bottom: 1px solid #bcb5a7;
}

.wrapper--extra {
  justify-content: space-between;
}

.wrapper--widgets {
  width: 860px;
  justify-content: space-between;
}
