.wrapper {
  display: flex;
  // width: 960px;
  // outline: 1px solid red;
  margin: 0 auto;
  flex-direction: column;
}

@media (min-width: 1100px) {
}

.wrapper--slider {
  // width: 960px;
  flex-direction: column;
}

.wrapper--item-group {
  flex-direction: column;
  border-bottom: 1px solid #bcb5a7;
}

.wrapper--extra {
  justify-content: space-between;
}

.wrapper--widgets {
  // width: 860px;
  justify-content: space-between;
}

.wrapper--feedback {
  // width: 860px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper--footer {
  flex-direction: column-reverse;
  padding: 24px 0 17px 0;
}
