@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Open Sans - Light";
  src: url("../fonts/OpenSans-Light.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Open Sans - Semibold";
  src: url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: bold;
  font-display: block;
}
