.display-none {
  display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.grand-quotation {
  font-family: "Arial", sans-serif;
  color: #ffd1d0;
  font-size: 150px;
  font-style: normal;
}

.grand-quotation--white {
  color: #ffffff;
}
