// fonts
$font-normal: "Open Sans", "Arial", sans-serif;
$font-light: "Open Sans - Light", "Arial", sans-serif;
$font-semibold: "Open Sans - Semibold", "Arial", sans-serif;

// font colors
$font-color-nav: #937f7a;
$font-color-heading: #765474;
$font-color-workers: #646464;

// Backgrounds
$footer-color-bg: #312b31;
