@font-face {
  font-family: 'TimesClipped';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("../fonts/TimesClipped.woff2") format("woff2"); }

body {
  margin: 0; }

.Diamond {
  display: flex;
  width: 27vw;
  height: 20vw;
  margin: auto;
  background: #E60040;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 33%, 50% 100%, 0% 33%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 33%, 50% 100%, 0% 33%); }
  .Diamond:before {
    content: '1';
    margin: 0 auto;
    -webkit-animation: counter 5s infinite;
            animation: counter 5s infinite;
    color: white;
    font: normal 17vw/0.9 "TimesClipped", Times, serif; }

@-webkit-keyframes counter {
  10% {
    content: '2'; }
  20% {
    content: '3'; }
  30%, 90% {
    content: 'Go!'; } }

@keyframes counter {
  10% {
    content: '2'; }
  20% {
    content: '3'; }
  30%, 90% {
    content: 'Go!'; } }

.Page {
  display: flex;
  height: 100vh; }
  .Page:hover {
    background: #3C6DC6; }

.BackgroundOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh; }
  .BackgroundOverlay:hover {
    background: white; }
