@import '../../../sass/global/variables.scss';

.Page {
  display: flex;
  height: 100vh;

  &:hover {
    background: $color-page-hover-bg;
  }
}

.BackgroundOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;

  &:hover {
    background: white;
  }
}
