.footer{
  background-color: $footer-color-bg;
}

.footer__links-item a {
  font-family: $font-normal;
  font-size: 14px;
  color: #ffffff;
}

.footer__phonenumer {
  font-family: $font-normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 46px;
  color: $font-color-nav;
}

.footer__phonenumber--uppercase {
  font-size: 25px;
}
