.nav__link {
  font-family: $font-normal;
  font-size: 18px;
  line-height: 46px;
  color: $font-color-nav;
}

.nav__phonenumer {
  font-family: $font-normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 46px;
  color: $font-color-nav;
}

.nav__phonenumber--uppercase {
  font-size: 25px;
}
