section.feedback
  h2.feedback__title Появились вопросы? <br> Предлагаем встретиться и обсудить детали!
  p.feedback__subtitle Оставьте заявку, и мы Вам перезвоним.
  form.feedback__form(action="https://echo.htmlacademy.ru" method="get")
    input.feedback__input(type="text" name="name" placeholder="Ваше имя" required)
    input.feedback__input(type="tel" name="telephone-number" placeholder="Ваш телефон" required)
    button.feedback__submit(type="submit") Оставить заявку
