footer.footer
  .social
    ul.social__list
      li.social__item
        a(href="#" title="Фейсбук")
          svg(width="29" height="28")
            use(xlink:href="#icon-facebook")
      li.social__item
        a(href="#" title="Инстаграм")
          svg(width="29" height="28")
            use(xlink:href="#icon-instagram")
      li.social__item
        a(href="#" title="Вконтакте")
          svg(width="29" height="28")
            use(xlink:href="#icon-vk")
  .footer__links
    ul.footer__links-list
      li.footer__links-item
        a(href="services.html") Услуги
      li.footer__links-item
        a(href="portfolio.html") Портфолио
      li.footer__links-item
        a(href="#") Отзывы
      li.footer__links-item
        a(href="#") О нас
      li.footer__links-item
        a(href="#") Контакты
  .footer__phone
    a.footer__phonenumer(href="tel:88122162432") 8 (812)
      span.footer__phonenumber.footer__phonenumber--uppercase  216 24 32
