header.header
  nav.nav
    a.nav__logo.current-page(href="index.html" title="На главную")
      img(width="132" height="33" src="img/svg/logo.svg" alt="8DAYS")
    ul.nav__list
      li.nav__list-item
        a.nav__link(href="services.html") Услуги
      li.nav__list-item
        a.nav__link(href="portfolio.html") Портфолио
      li.nav__list-item
       a.nav__link(href="#") Отзывы
      li.nav__list-item
        a.nav__link(href="#") О Нас
    .nav__contacts
      a.nav__contacts-text(href="#") Контакты
      .nav__contacts-phone
        a.nav__phonenumer(href="tel:88122162432") 8 (812)
          span.nav__phonenumber.nav__phonenumber--uppercase 216 24 32
